.my_card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color)    
}

.card {
  background-color: rgba(0,0,0, 0.6);
  height: 230px;
}


.card-body{
  color: #ffff;
}

.card-title{
  font-size: 1.6rem !important;
}
.card-text{
  font-size: 0.8rem;
}